<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个性化电影推荐系统</title>
    <link rel="stylesheet" href="C:/Users/computer/Desktop/bootstrap_by_v3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body  bgcolor="#d0d0d0" >
<form style="margin:50px"action="/" name = form1 method="post">
    <label ></label>
    <h1>请对下列电影中您看过的电影进行评分(分数1-5满分为5分)</h1>
    <div style="float: left;width:300px">Toy Story <input type="text" style="width:100px" name="score1"  align="left"></div>
    <div style="float: left;width:300px">GoldenEye <input type="text" style="width:100px" name="score2" ></div>
    <div>Four Rooms <input type="text"  style="width:100px" name="score3" ></div>
    <div style="float: left;width:300px">Get Shorty <input type="text" style="width:100px"  name="score4" ></div>
    <div style="float: left;width:300px">Copycat <input type="text"  style="width:100px" name="score5" ></div>
    <div>Shanghai <input type="text"  style="width:100px" name="score6" ></div>
    <div style="float: left;width:300px">Twelve Monkeys <input type="text"  style="width:100px" name="score7" ></div>
    <div style="float: left;width:300px">Babe <input type="text"  style="width:100px" name="score8" ></div>
    <div>Dead Man Walking <input type="text"  style="width:100px" name="score9" ></div>
    <div style="float: left;width:300px">Richard III <input type="text"  style="width:100px" name="score10" ></div>

    <div style="float: left;width:300px">Seven<input type="text"  style="width:100px" name="score11"  align="left"></div>
    <div>Usual Suspects<input type="text"  style="width:100px" name="score12" ></div>
    <div style="float: left;width:300px">Mighty Aphrodite<input type="text"  style="width:100px" name="score13" ></div>
{#    <div style="float: left;width:300px">Mighty Aphrodite<input type="text"  name="score13" ></div>#}
    <div style="float: left;width:300px">Postino, Il<input type="text"  style="width:100px" name="score14" ></div>
    <div>Mr. Holland's Opus<input type="text"  style="width:100px" name="score15" ></div>
    <div style="float: left;width:300px">French Twist<input type="text"  style="width:100px" name="score16" ></div>
    <div style="float: left;width:300px">From Dusk TillDawn<input type="text"  style="width:100px" name="score17" ></div>
{#    <div style="float: left;width:300px">From Dusk TillDawn<input type="text"  name="score17"></div>#}
    <div>White Balloon<input type="text"  style="width:100px" name="score18" ></div>
    <div style="float: left;width:300px">Antonia's Line<input type="text"  style="width:100px" name="score19" ></div>
    <div style="float: left;width:300px">Angels and Insects<input type="text"  style="width:100px" name="score20" ></div>

    <div>Muppet Treasure Island<input type="text"  style="width:100px" name="score21"  align="left"></div>
    <div style="float: left;width:300px">Braveheart<input type="text"  style="width:100px" name="score22" ></div>
    <div style="float: left;width:300px">Taxi Driver<input type="text"  style="width:100px" name="score23" ></div>
    <div>Rumble in the Bronx<input type="text"  style="width:100px" name="score24" ></div>
    <div style="float: left;width:300px">Birdcage<input type="text"  style="width:100px" name="score25" ></div>
    <div style="float: left;width:300px">Brothers McMullen<input type="text"  style="width:100px" name="score26" ></div>
    <div>Bad Boys<input type="text"  style="width:100px" name="score27" ></div>
    <div style="float: left;width:300px">Apollo 13<input type="text"  style="width:100px" name="score28" ></div>
    <div style="float: left;width:300px">Batman Forever<input type="text" style="width:100px"  name="score29" ></div>
    <div>Belle de jour<input type="text"  style="width:100px" name="score30" ></div>

    <div style="float: left;width:300px">Crimson Tide<input type="text"  style="width:100px" name="score31"  align="left"></div>
    <div style="float: left;width:300px">Crumb<input type="text" style="width:100px"  name="score32" ></div>
    <div>Desperado<input type="text"  style="width:100px" name="score33" ></div>
    <div style="float: left;width:300px">Doom Generation<input type="text" style="width:100px"  name="score34" ></div>
    <div style="float: left;width:300px">Free Willy 2<input type="text" style="width:100px"  name="score35" ></div>
    <div>Mad Love<input type="text" style="width:100px"  name="score36" ></div>
    <div style="float: left;width:300px">Nadja<input type="text" style="width:100px"  name="score37" ></div>
    <div style="float: left;width:300px">Net<input type="text" style="width:100px"  name="score38" ></div>
    <div>Strange Days<input type="text" style="width:100px"  name="score39" ></div>
    <div style="float: left;width:300px">To Wong Foo<input type="text" style="width:100px"  name="score40" ></div>

    <div style="float: left;width:300px">Billy Madison<input type="text" style="width:100px"  name="score41"  align="left"></div>
    <div>Clerks<input type="text"  style="width:100px" name="score42" ></div>
    <div style="float: left;width:300px">Disclosure<input type="text"  style="width:100px" name="score43" ></div>
    <div style="float: left;width:300px">Dolores Claiborne<input type="text"  style="width:100px" name="score44" ></div>
    <div>Eat Drink Man Woman<input type="text"  style="width:100px" name="score45" ></div>
    <div style="float: left;width:300px">Exotica<input type="text"  style="width:100px" name="score46" ></div>
    <div style="float: left;width:300px">Ed Wood<input type="text"  style="width:100px" name="score47" ></div>
    <div>Hoop Dreams<input type="text"  style="width:100px" name="score48" ></div>
    <div style="float: left;width:300px">I.Q<input type="text"  style="width:100px" name="score49" ></div>
    <div>Star Wars<input type="text"  style="width:100px" name="score50" ></div>

   {# <input name="movie1" type="radio" value="1">
    <input name="movie1" type="radio" value="2">#}
    {#<p >
        <label >
            movie1
            <input type="radio" name="movie1"  value="1">1分
            <input type="radio" name="movie1"  value="2">2分
            <input type="radio" name="movie1"  value="3">3分
            <input type="radio" name="movie1"  value="4">4分
            <input type="radio" name="movie1"  value="5">5分
        </label>
    </p>
    <p >
        <label >
            movie2
            <input type="radio" name="movie2"  value="1">1分
            <input type="radio" name="movie2"  value="2">2分
            <input type="radio" name="movie2"  value="3">3分
            <input type="radio" name="movie2"  value="4">4分
            <input type="radio" name="movie2"  value="5">5分
        </label>
    </p>#}
     <p>
          <input type="submit" value = "马上推荐电影" onclick="reP()" />
     </p>
    <h1>
        {{ get_flashed_messages()[0] }}
    </h1>

    <h1>
        {{ movie }}
    </h1>
<div id="Layer2" style=" position:absolute;  right:150px;  top:110px;width:230px; height:230px; z-index:-1">
<img src={{url_for('static', filename='back4.png')}} height="100%" width="100%"/>
</div>
<div id="Layer1" style=" width:100%; height:100%; z-index:-1">
<img src={{url_for('static', filename='back2.jpg')}} height="100%" width="100%"/>
</div>
</form>
<script>
    function   getRadioBoxValue(radioName)
{
            var obj = document.getElementsByName(radioName);  //这个是以标签的name来取控件
                 for(i=0; i<obj.length;i++)    {

                  if(obj[i].checked)    {
                          return   obj[i].value;
                  }
              }
             return "undefined";
}
    function tuijian() {
        var movie1=getRadioBoxValue("movie1")
        var movie2=getRadioBoxValue("movie2")
        var demoP=document.getElementById("demo");
        demoP.innerHTML=movie1
    }

</script>
{#<script >
$(function() {
    function submit_form(e) {
        $.post('/', {
            movie1: $('input[name="movie1"]').val(),
            movie2: $('input[name="movie2"]').val(),
        },
        function(data) {
            $('#result').text(data.result);
        },"json");
    };
    // 绑定click事件
    $('#calculate').bind('click', submit_form);
});
</script>#}
{#<SCRIPT LANGUAGE="JavaScript">#}
{#function reP(){#}
{#    document.getElementById('movie1').style.display = "block";#}
{#}#}
{#</SCRIPT>#}
<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>